// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$warna-body: #FAFAFA;
$warna-utama: #212121;
$warna-dua: #616161;
$warna-tiga: #FDCE07;
$warna-empat: #222659;
$warna-lima: #9E9E9E;
$warna-tujuh: #E0E0E0;
$warna-delapan: #757575;
$warna-sembilan: #3D3D3D;
$warna-font-tabel: #444444;

$warna-need-verification: #E4BA08;
$warna-rejected: #D10D0D;
$warna-suspended: #1976D2;

$warna-draft: #9E9E9E;
$warna-need-revision: #C25D00;
$warna-approved-accepted: #129555;
$warna-under-review: #8E7400;

$warna-latar-satu: #222222;
$warna-latar-dua: #176988;
$warna-latar-tiga: #1E784B;
$warna-latar-empat: #753A00;
$warna-latar-lima: #DB4339;
$warna-latar-enam: #BC185D;
$warna-latar-tujuh: #4B4B9D;





/// BACKGROUND COLOR ///
body {
    background-color: $warna-body;
    margin: 0 !important;
    font-family: 'Lato', sans-serif !important;
        // font-family: ;
}

.bg-warna-utama {
    background: $warna-utama;
}

.bg-warna-need-verification {
    background: $warna-need-verification;
}

.bg-warna-rejected {
    background: $warna-rejected;
}

.bg-warna-suspended {
    background: $warna-suspended;
}

.bg-warna-under-review {
    background: $warna-under-review;
}

.bg-warna-draft {
    background: $warna-draft;
}

.bg-warna-need-revision {
    background: $warna-need-revision;
}

.bg-warna-approved-accepted {
    background: $warna-approved-accepted;
}

.bg-warna-dua {
    background: $warna-dua;
}

.bg-warna-tiga {
    background: $warna-tiga;
}

.bg-warna-empat {
    background: $warna-empat;
}

.bg-warna-lima {
    background: $warna-lima;
}

.bg-warna-body {
    background: $warna-body;
}

.bg-latar-satu {
    background: $warna-latar-satu;
}

.bg-latar-dua {
    background: $warna-latar-dua;
}

.bg-latar-tiga {
    background: $warna-latar-tiga;
}

.bg-latar-empat {
    background: $warna-latar-empat;
}

.bg-latar-lima {
    background: $warna-latar-lima;
}

.bg-latar-enam {
    background: $warna-latar-enam;
}

.bg-latar-tujuh {
    background: $warna-latar-tujuh;
}


/// TEXT COLOR ///
.text-warna-utama {
    color: $warna-utama;
}

.text-need-verification {
    color: $warna-need-verification;
}

.text-rejected {
    color: $warna-rejected
}

.text-approved-accepted {
    color: $warna-approved-accepted
}

.text-suspended {
    color: $warna-suspended;
}

.text-draft {
    color: $warna-draft;
}

.text-under-review {
    color: $warna-under-review;
}

.text-need-revision {
    color: $warna-need-revision;
}

.text-warna-dua {
    color: $warna-dua;
}

.text-warna-tiga {
    color: $warna-tiga;
}

.text-warna-empat {
    color: $warna-empat;
}

.text-warna-lima {
    color: $warna-lima;
}

.text-warna-delapan {
    color: $warna-delapan;
}

.text-warna-sembilan {
    color: $warna-sembilan;
}

.text-warna-font-tabel {
    color: $warna-font-tabel;
}


/// BORDER COLOR ///
.border-warna-utama {
    border-color: $warna-utama;
}

.border-need-verification {
    border-color: $warna-need-verification;
}

.border-rejected {
    border-color: $warna-rejected
}

.border-approved-accepted {
    border-color: $warna-approved-accepted
}

.border-suspended {
    border-color: $warna-suspended;
}

.border-draft {
    border-color: $warna-draft;
}

.border-need-revision {
    border-color: $warna-need-revision;
}

.border-under-review {
    border-color: $warna-under-review;
}

.border-warna-dua {
    border-color: $warna-dua;
}

.border-warna-tiga {
    border-color: $warna-tiga;
}

.border-warna-empat {
    border-color: $warna-empat;
}

.border-warna-lima {
    border-color: $warna-lima;
}

.border-warna-tujuh {
    border-color: $warna-tujuh;
}

.border-latar-satu {
    border-color: $warna-latar-satu;
}

.border-latar-dua {
    border-color: $warna-latar-dua;
}

.border-latar-tiga {
    border-color: $warna-latar-tiga;
}

.border-latar-empat {
    border-color: $warna-latar-empat;
}

.border-latar-lima {
    border-color: $warna-latar-lima;
}

.border-latar-enam {
    border-color: $warna-latar-enam;
}

.border-latar-tujuh {
    border-color: $warna-latar-tujuh;
}


/// RING COLOR ///
.ring-warna-empat {
    --tw-ring-color: $warna-empat;
}

.table-padding {
    td, th {
        padding: 20px !important;
    }
}

.drawer-none-scrolling {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.drawer-none-scrolling::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.tr-striped-even:nth-last-child(even) {
    background-color: #FAFAFA;
}

.tr-striped-odd:nth-last-child(odd) {
    background-color: #FAFAFA;
}


// CHIP
.chip-sm {
    border-radius: 5px;
    padding: 9px 8px;
    cursor: pointer;
    background: $warna-tujuh;
    font-size: 14px;
    border: 1px solid #C2C2C2;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    .chip-label {
        margin-left:3px;
        color: $warna-dua;
        font-size: small;
    }
    .chip-button {
        margin-left: 10px;
        color: #D10D0D;
    }
    &:hover {
        color: $warna-utama;
        background: #F1F1F1;
        .chip-button {
            color: #D10D0D;
        }
    }
}


// DATE PICKER
.mx-datepicker {
    width: 100% !important;
    .mx-input {
        display: inline-block;
        // box-sizing: border-box;
        width: 100%;
        height: 36px;
        padding: 6px 30px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 1.4;
        color: $warna-sembilan;
        background-color: #fff;
        border: 1px solid $warna-tujuh;
        border-radius: 5px;
        box-shadow: none !important;
      
        &:hover,
        &:focus {
          border-color: $warna-tujuh;
        }
        &:disabled,
        &.disabled {
          color: $warna-sembilan;
          background-color: rgba(0, 0, 0, 0.1);
          border-color: $warna-tujuh;
        }
        &:focus {
          outline: none;
        }
        &::-ms-clear {
          display: none;
        }
    }
}


.list-options.lo-aktif {
    background: red;
    color: #ffffff;
}


.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-active { opacity: 0; }


.milestone-item {
    text-align: center;
    h3 {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #616161;
    }
    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #616161;
    }

    // &::after {
    //     content: '';
    //     height: 20px;
    //     width: 20px;
    //     border-radius: 100%;
    //     background: #222659;
    //     display:block;
    // }
}


.milestone-graph {
    position: relative;
    .milestone-area {
        .milestone-item:has(:not(.mi-null)) {
            text-align: center;
            padding: 20px 10px;
            position: relative;
            border-bottom: 4px solid #A1A2B7;
            h3 {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #616161;
            }
            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #616161;
            }
        
            .mi-inside:not(.mi-null)  {
                padding-top: 15px ;
                &::after {
                    content: '';
                    height: 15px;
                    width: 15px;
                    border-radius: 100%;
                    background: #222659;
                    display:block;
                    margin: 10px auto -10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 5;
                }
            }

        }
        // .milestone-item.last-milestone-item.first-milestone-item {
        //     border-bottom: none !important;
        //     &::before {
        //         content: '';
        //         background: #FFFFFF !important;
        //         height: 5px;
        //         // border-bottom: 5px solid green !important;
        //         width: 100%;
        //         display:block;
        //         position: absolute;
        //         bottom:0;
        //         left:0;
        //         margin-bottom: -5px;
        //         z-index: 3;
        //     }

        // }


    }
    .milestone-area:has(.last-milestone-item.first-milestone-item) {
        // background: red;
        &::before {
            content: '';
            background: #FFFFFF !important;
            height: 5px;
            // border-bottom: 5px solid green !important;
            width: 100%;
            display:block;
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            margin-bottom: 0px;
            z-index:4;
        }

    }


    .milestone-area:nth-child(odd) {
        .milestone-item.mi-satu {
            border-left: 4px solid  #A1A2B7;
            &::after {
                content: '';
                background: url('/images/curve-bl.svg') no-repeat left top /contain #ffffff;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom:-4px;
                margin-left: -4px;
                z-index: 2;
            }
        }
        .milestone-item.mi-tiga {
            &::after {
                content: '';
                background: url('/images/curve-tr.svg') no-repeat right bottom /contain #ffffff;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: -30px;
                z-index: 2;
            }
        }
    }
    .milestone-area:nth-child(even) {
        .milestone-item.mi-satu {
            &::after {
                content: '';
                background: url('/images/curve-tl.svg') no-repeat left top /contain #ffffff;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom:-30px;
                margin-left: 0px;
                z-index: 2;
            }
        }
        .milestone-item.mi-tiga {
            border-right: 4px solid #A1A2B7;

            &::after {
                content: '';
                background: url('/images/curve-br.svg') no-repeat right top /contain #ffffff;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom:-4px;
                margin-right: -4px;
                z-index: 2;
            }
        }

    }
    .milestone-area:nth-child(1) {
        .milestone-item:nth-child(1) {
            border-left: none !important;
            &::before {
                content: '';
                background: #FFFFFF !important;
                height: 5px;
                // border-bottom: 5px solid green !important;
                width: 50%;
                display:block;
                position: absolute;
                bottom:0;
                left:0;
                margin-bottom: -5px;
            }
            &::after{
                background: transparent !important;
            }

        }
    }
    .milestone-area.ma-akhir {
        .milestone-item.last-milestone-item:not(.flex-row-reverse)  {
            &::before {
                content: '';
                background: #FFFFFF !important;
                height: 5px;
                // border-bottom: 5px solid green !important;
                width: 50%;
                display:block;
                position: absolute;
                bottom:0;
                right:0;
                margin-bottom: -5px;
                z-index: 3;
            }
        }
        .milestone-item.last-milestone-item.mi-tiga {
            &::after {
                background: none;
            }
        }

    }
    .milestone-area.ma-akhir.flex-row-reverse {
        .milestone-item.last-milestone-item.mi-tiga {
            &::before {
                content: '';
                background: #FFFFFF !important;
                height: 5px;
                // border-bottom: 5px solid green !important;
                width: 50%;
                display:block;
                position: absolute;
                bottom:0;
                left:0;
                margin-bottom: -5px;
                z-index: 3;
            }
            &::after {
                content: '';
                background: url('/images/curve-br.svg') no-repeat right top /contain #ffffff;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom:-4px;
                margin-right: -4px;
                z-index: 2;
            }

        }
        .milestone-item.last-milestone-item.mi-satu {
            &::after {
                background: none;
            }
            &::before {
                content: '';
                background: #FFFFFF !important;
                height: 5px;
                // border-bottom: 5px solid green !important;
                width: 50%;
                display:block;
                position: absolute;
                bottom:0;
                left:0;
                margin-bottom: -5px;
                z-index: 3;
            }
        }

        .milestone-item.last-milestone-item.mi-dua {
            &::after {
                background: none;
            }
            &::before {
                content: '';
                background: #FFFFFF !important;
                height: 5px;
                // border-bottom: 5px solid green !important;
                width: 50%;
                display:block;
                position: absolute;
                bottom:0;
                left:0;
                margin-bottom: -5px;
                z-index: 3;
            }
        }

    }



}
.pac-target-input {
    width: 100%;
    padding: 5px;
    outline: none !important;
}


.displayjourney {
    
    .journeyitem {
        position: relative;
        // background-color: #129555;
        .ji-img-wrapper {
            position: relative;
            .ji-img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                z-index: 2;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 2px;
                margin-left: 42px;
                margin-top: 42px;
                background: #52BAE2;
                z-index: 1;
            }
        }
    }
    .journeyitem:nth-last-child(1) {
        .ji-img-wrapper {
            position: relative;
            &::after {
                content: "";
                display: none !important;
            }
        }
    }
}

.btn-save {
    background: $warna-empat;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: lighten($warna-empat, 30%);
    }

}

.btn-text {
    color: #000;
    font-weight: 600;
    padding: 0.5rem 2rem;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: #444;
    }

}
.btn-tambah {
    color: $warna-empat;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    transition: all 0.25s ease-in-out;
    &::before {
        content: '+';
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        vertical-align: baseline;
        margin-right: 3px;
    }
    &:hover {
        color: lighten($warna-empat, 50%);
    }
    &:disabled {
        color:rgba(0, 0, 0, 0.2);
    }
}
.table-standar {

    background: #ffffff;
    padding: 10px;
  
    thead {
      th {
        text-align: left !important;
      }
      border-bottom: 1px solid #ccc;
      td, th {
        padding: 20px !important;
      }
  
    }
    tbody {
      td {
        transition: all 0.1s ease-in-out;
        padding: 20px !important;
        // cursor: pointer;
      }
 
      
      tr.tr-aktif {
        td {
          background: rgba(0, 0, 0, 0.05);
          // color: #ffffff;
          input {
            color: #000000;
          }
        }
      }
    }
    tfoot {
      td {
        background: $warna-utama;
        color: #ffffff;
        padding: 5px 10px;
  
  
      }
    }
    td.text-center-important, th.text-center-important {
      text-align: center !important;
    }
  }
  .table-vertical-top {
    td {
        vertical-align: top !important;
    }
  }
  

  .table-zebra {
    tbody {
      td {
        transition: all 0.1s ease-in-out;
      }
      tr {
        // border-bottom: 1px solid #eaeaea;
        &:hover {
          td {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
      tr:nth-child(odd) {
        td {
            background: #FAFAFA;
        }
      }
      tr:nth-child(even) {
        td {
            background: #FFFFFF;
        }
      }
  
    }
  }

.input-radio-1 {
    vertical-align: middle;
    border: 1px solid $warna-empat;
    accent-color: $warna-empat;
    cursor: pointer;

}
.button-edit {
    background: url('/icons/icon-edit.png') no-repeat center center /contain;
    transition: all 0.25s ease-in-out;
    opacity: 1;
    &:hover {
        opacity: 0.5;
    }
}
.button-delete {
    background: url('/icons/icon-delete.png') no-repeat center center /contain;
    transition: all 0.25s ease-in-out;
    opacity: 1;
    &:hover {
        opacity: 0.5;
    }

}
.zebra {
    .zebra-item:nth-child(even) {
        background: #fff;
    }
    .zebra-item:nth-child(odd) {
        background: rgba(0, 0, 0, 0.05);
    }
}
.ul-zebra {
    li {
        padding: 10px;
    }
    li:nth-child(even) {
        background: #fff;
    }
    li:nth-child(odd) {
        background: rgba(0, 0, 0, 0.05);
    }
}
.display-deskripsi {
    p {
        margin-bottom: 15px;
    }
    word-break: break-word;
}
input[type="radio"]:checked {
    border: 1px solid $warna-empat;
    accent-color: $warna-empat;
}
.vue-preview__wrapper {
    background: url('/images/bc.jpg') !important;
    opacity: 1 !important;


}
.vue-advanced-cropper__background {
    background: url('/images/bc.jpg') !important;

}
.vue-advanced-cropper__cropper-wrapper {
    background: rgba(0, 0, 0, 0.9) !important;
}
.button-table-delete {
    background: url('/icons/icon-delete.png') no-repeat center center;
    opacity: 1;
    transition: all 0.35s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

.button-table-edit {
    background: url('/icons/icon-edit.png') no-repeat center center;
    opacity: 1;
    transition: all 0.35s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

.barchart-persen-dashboard {
    .highcharts-axis-line {
        fill: transparent !important;
        stroke-width: 0 !important;
    }
    .highcharts-xaxis-labels text{
        transform: translate(60px, -28px) !important;
        font-size: 16px !important;
        font-family: 'Lato';
    }
    .highcharts-data-labels {
        position: absolute !important;
        right: 0 !important;
    }


}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.input-overide-filter {
    input, select {
        border: 1px solid #E0E0E0 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) !important;
        border-radius: 6px !important;
        color: #212121 !important;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #212121 !important;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #212121 !important;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #212121 !important;
      }
}