$warna-body: #FAFAFA;
$warna-utama: #212121;
$warna-dua: #616161;
$warna-tiga: #FDCE07;
$warna-empat: #222659;
$warna-tujuh: #E0E0E0;
$warna-delapan: #757575;
$warna-sembilan: #3D3D3D;
$warna-font-tabel: #444444;

$warna-suspended: #1976D2;
$warna-draft: #ffc700;
$warna-need-revision: #ff5c00;
$warna-approved: #129555;
$warna-rejected: #D10D0D;
$warna-need-verification: #E4BA08;


/// BACKGROUND COLOR ///
body {
    background-color: $warna-body;
}

.bg-warna-utama {
    background: $warna-utama;
}

.bg-warna-rejected {
    background: $warna-rejected;
}

.bg-warna-approved {
    background: $warna-approved;
}

.bg-warna-need-revision {
    background: $warna-need-revision;
}

.bg-warna-suspended {
    background: $warna-suspended;
}

.bg-warna-draft {
    background: $warna-draft;
}

.bg-warna-need-verification {
    background: $warna-need-verification;
}

.bg-warna-dua {
    background: $warna-dua;
}

.bg-warna-tiga {
    background: $warna-tiga;
}

.bg-warna-empat {
    background: $warna-empat;
}


/// TEXT COLOR ///
.text-warna-utama {
    color: $warna-utama;
}

.text-rejected {
    color: $warna-rejected
}

.text-approved {
    color: $warna-approved
}

.text-need-revision {
    color: $warna-need-revision;
}

.text-suspended {
    color: $warna-suspended;
}

.text-draft {
    color: $warna-draft;
}

.text-need-verification {
    color: $warna-need-verification;
}

.text-warna-dua {
    color: $warna-dua;
}

.text-warna-tiga {
    color: $warna-tiga;
}

.text-warna-empat {
    color: $warna-empat;
}

.text-warna-delapan {
    color: $warna-delapan;
}

.text-warna-sembilan {
    color: $warna-sembilan;
}

.text-warna-font-tabel {
    color: $warna-font-tabel;
}


/// BORDER COLOR ///
.border-warna-utama {
    border-color: $warna-utama;
}

.border-rejected {
    border-color: $warna-rejected
}

.border-approved {
    border-color: $warna-approved
}

.border-need-revision {
    border-color: $warna-need-revision;
}

.border-suspended {
    border-color: $warna-suspended;
}

.border-draft {
    border-color: $warna-draft;
}

.border-need-verification {
    border-color: $warna-need-verification;
}

.border-warna-dua {
    border-color: $warna-dua;
}

.border-warna-tiga {
    border-color: $warna-tiga;
}

.border-warna-empat {
    border-color: $warna-empat;
}

.border-warna-tujuh {
    border-color: $warna-tujuh;
}


.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-active { opacity: 0; }